
.color-red a {color:#d43b2b;}
.color-red a:hover {color:#bb2212;}
.color-red .wp-pagenavi .prevpostslink:hover,
.color-red .wp-pagenavi .color-red .nextpostslink:hover,
.color-red .wp-pagenavi .prev:hover,
.color-red .wp-pagenavi .next:hover{background:#d43b2b;color:#FFF!important;}
.color-red ul.accordion li > a {color:#333;}
.color-red ul.accordion li > a:hover{color:#d43b2b;}
.color-red .portfolio .filters ul a:hover{background:#d43b2b;color:#fff;border:1px solid #d43b2b;text-decoration:none;}
.color-red .portfolio .filters ul a.selected{background:#d43b2b;color:#fff;border:none;}
.color-red .page-portfolio .foot>p>a:hover{text-decoration:none;background:#d43b2b;}
.color-red .single .comment-author a.comment-reply-link{color:#d43b2b;}
.color-red .related article h3 a:hover{color:#d43b2b;}
.color-red .content aside a{color:#d43b2b;}
.color-red .pricing-plan.selected h2 {color: #fff;}
.color-red .pricing-plan.selected .pricing-lead{background:#d43b2b;box-shadow:none;}
.color-red .pricing-plan.selected{border-top:2px solid #d43b2b;background:#70c14a;border-right:none!important;}
.color-red table.pricing tr.action td:first-child a{background:none;color:#d43b2b;}
.color-redtable.pricing .button:hover{background:#d43b2b!important;color:#fff;}
.color-red .more-detail a:hover{background:#d43b2b;color:#fff;text-decoration:none;}
.color-red .widget_newsletterwidget {border-color: #ee5545;}
.color-red .widget_newsletterwidget .newsletter-submit:hover,
.color-red .newsletter-widget .newsletter-submit:hover{background-color:#d43b2b;}
.color-red .tabbed ul.tabs li a:hover{color:#fff;background:#d43b2b;}
.color-red .counter li.days span.num{background:#d43b2b;}
.color-red .content aside section ul.menu li.current-menu-item > a{background:none!important;color:#d43b2b!important;}
.color-red .widget_newsletterwidget a.btn:hover{color:#fff;background-color:#d43b2b;}
.color-red .woocommerce-pagination ul li .prev:hover,
.color-red .woocommerce-pagination ul li .next:hover{background:#d43b2b;color:#fff;}
.color-red.cart .woocommerce .product-name > a {color:#d43b2b;}
.color-red.cart .cart_totals .checkout-button.button.alt:hover {background-color:#d43b2b;}
.color-red .lead-page .newsletter-submit:hover{background:#d43b2b;}
.color-red .woocommerce form .shop_table.cart .actions > p .checkout-button:hover,
.color-red .woocommerce form .shop_table.cart .actions > .checkout-button:hover{background-color:#d43b2b;}
#place_order:hover{background-color:#d43b2b;}
.color-red .login .form-row .button:hover{background:#d43b2b;}
.color-red .save-address-button:hover{background:#d43b2b;}
.color-red .wpcf7 .wpcf7-form [type="submit"]:hover{background:#d43b2b;}
.color-red .post-password-form input[type=submit]:hover{background:#d43b2b;}

.color-red ::-moz-selection{background:#ee5545;}
.color-red ::selection{background:#ee5545;}
.color-red a.button,
.color-red button{background:#ee5545; color: #fff;}
.color-red a.button:hover,
.color-red button:hover{color: #fff;}
.color-red .cart .add_to_cart_button.button.product_type_simple, .color-red .button.product_type_variable {background: none;}
.color-red blockquote{border-color: #ee5545;}
.color-red ul.tick3 li:before{color:#ee5545;}
.color-red ul.tick4 li:before{background:#ee5545;}
.color-red .wp-pagenavi .prevpostslink,
.wp-pagenavi .prev{background:#ee5545;}
.color-red .wp-pagenavi .nextpostslink,
.color-red .wp-pagenavi .next{background:#ee5545;}
.color-red .slider11 article div>ul li:before{color:#ee5545;}
.color-red .page-portfolio .foot>p>a{background:#ee5545;}
.color-red .page-portfolio .filters ul a:hover{background:#ee5545; border-color: #ee5545;}
.color-red .post-meta a, 
.color-red .tags a {color: #333;}
.color-red .post-meta a:hover,
.tags a:hover{color:#ee5545;}
.color-red .single .tags a:hover{background:#ee5545;border-color: #ee5545;}
.color-red .single .post-author{border-color: #ee5545;}
.color-red .comment-form ul li em{color:#ee5545;}
.color-red .post-author h3 a:hover{color:#ee5545;}
.color-red #review_form .comment-form .required{color:#ee5545;}
.color-red a.btn {color: #fff;}
.color-red a.btn:hover{color: #fff;}
.color-red a.btn.white {color: #333;}
.color-red a.btn.light-gray {color: #444;}
.color-red a.btn.light.white {color: #fff;}
.color-red a.btn.light.white:hover {color: #333;}
.color-red a.btn.custom {background: #ee5545;}
.color-red a.btn.custom:hover {background: #d43b2b;}
.color-red p.progress>span.fill{background:#ee5545;}
.color-red .pricing-plan{border-top-color: #ee5545; border-right-color: #e8e8e8;}
.color-red .pricing-plan h2{color:#ee5545;}
.color-red .pricing-plan.selected{border-top-color: #d43b2b;background:#ee5545;}
.color-red table.pricing .button{background:#ee5545!important;}
.color-red .e404 button{background:#ee5545;}
.color-red .call-out{border-top-color:#ee5545;}
.color-red .postlist-blog .quote-typography p{color:#ee5545;}
.color-red .more-detail a{background:#ee5545; color: #fff;}
.color-red .postlist-blog .quote-text{color:#ee5545;}

/* quote.svg */
.color-red .postlist.postlist-blog .post.item .quote-typography,
.color-red .postlist-blog .post-detail .quote-text { background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px"><g><g><path fill-rule="evenodd" clip-rule="evenodd" fill="%23ee5545" d="M6.225-0.012H2.73L0,6.97V16h6.99V6.97H3.495L6.225-0.012z M12.494,6.97l2.73-6.981H11.73L9,6.97V16h6.99V6.97H12.494z"/></g></g></svg>');}

/* quote2.svg */
.color-red .hp-quote,
.color-red blockquote.quote,
.color-red .quote-typography,
.color-red .postlist-blog .quote-typography,
.color-red .postlist-blog .quote-text { background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26px" height="24px"><g><g><path fill="%23ee5545" d="M10,0H4L0,10v14h12V10H6L10,0z M20,10l4-10h-6l-4,10v14h12V10H20z"/></g></g></svg>');}


.color-red .widget_newsletterwidget .newsletter-submit,
.color-red .newsletter-widget .newsletter-submit{background-color:#ee5545;}
.color-red footer .newsletter-widget .newsletter-submit{background-color:#ee5545;}
.color-red .content aside div.tagcloud a:hover,
.color-red footer .tagcloud a:hover{background:#ee5545;border-color: #ee5545;}
.color-red table#wp-calendar tbody td a:hover{background:#ee5545;}
.color-red .tabbed ul.tabs{background-color:#ee5545;}
.color-red .tabbed ul.tabs li a{background:#ee5545;}
.color-red .tabbed ul.tabs li.tab-best a{background:#ee5545;}
.color-red .ui-datepicker td a:hover,
.color-red .ui-datepicker td a.ui-state-highlight{background:#ee5545!important;}
.color-red .top-border {border-color:#ee5545;}
.color-red .left-border {border-color:#ee5545;}
.color-red .animated-milestone{color:#ee5545;}
.color-red .tabbed.alt2 ul.tabs{border-top-color: #ee5545; background: none;}
.color-red .tabbed.alt2 ul.tabs li a {background: none;}
.color-red .tabbed.alt2 ul.tabs li a:hover, .tabbed.alt2 ul.tabs li a:hover .fa:before { background: #f6f6f6; color:#ee5545; }
.color-red .tabbed.alt2.alt .tabs{border-left:4px solid #ee5545;}
.color-red .counter li.days{background:#ee5545;}
.color-red .counter.counter-2 li.days {background: none;}
.color-red .counter.counter-2 li.days span.num{color:#ee5545;background: none;}
.color-red .coming-soon input.newsletter-submit[type="submit"]{background-color: #ee5545;border-color:#ee5545;}
.color-red .tabbed.alt3 ul.tabs {background: none;}
.color-red .tabbed.alt3 ul.tabs li a {background: none;}
.color-red .tabbed.alt3 ul.tabs li a:hover{box-shadow:0 -4px 0 0 #ee5545 inset;color:#ee5545;}
.color-red .woocommerce-pagination ul li .prev{background:#ee5545;}
.color-red .woocommerce-pagination ul li .next{background:#ee5545;}
.color-red.cart .cart_totals{border-color: #ee5545;}
.color-red.cart .cart_totals .checkout-button.button.alt{background-color: #ee5545;}
.color-red .ui-slider .ui-slider-handle:hover{border-color:#ee5545;}
.color-red .ui-slider .ui-slider-range{background:#ee5545;}
.color-red .comment-form .required{color:#ee5545;}
.lead-page .newsletter-submit{background:#ee5545;}
.lead-page .box-default h2{color:#ee5545;}
.color-red .woocommerce form .shop_table.cart .actions > p .checkout-button,
.color-red .woocommerce form .shop_table.cart .actions > .checkout-button{background-color:#ee5545;}
#place_order{background-color: #ee5545;}
.color-red .login .form-row .button{background:#ee5545;}
.color-red .save-address-button{background:#ee5545;}
.color-red .wpcf7 .wpcf7-form [type="submit"]{background:#ee5545;}
.color-red .wpcf7 .wpcf7-form div.wpcf7-mail-sent-ok{background-color:#ee5545;}
.color-red .post-password-form input[type=submit]{background:#ee5545;}
.color-red .landing-form form {border-color: #ee5545;}

/* headers */
.color-red .btn-navbar.active {border-bottom-color: #d43b2b;}
.color-red header .title a:hover {color: #d43b2b;}
.color-red .mobile-nav li.active {border-bottom-color: #d43b2b;}
.color-red .shopping-bag li a:hover {color: #d43b2b;}

.color-red .cart-number-box.active {background-color: #d43b2b;}
.color-red .h1 .cart-number-box.active:after {border-right: 3px solid #d43b2b;}

@media screen and (min-width: 646px) {
    .color-red .h1 .cart-number-box.active:after {
		border-right: 3px solid transparent;
        border-top: 3px solid #d43b2b;
    }
}

.color-red .h2 .cart-number-box.active {background: #d43b2b;}
.color-red .h2 .cart-number-box.active:after {border-right: 3px solid #d43b2b;}

.color-red .menu-container li.menu-item.current-menu-item > a, 
.color-red .menu-container li.page_item.current_page_item > a {color: #d43b2b;}

.color-red header li.page_item.current_page_item > .submenu-trigger,
.color-red header li.menu-item.current-menu-item > .submenu-trigger, 
.color-red header li.menu-item.current-menu-item > .submenu-trigger-container .submenu-trigger { color: #d43b2b; }

@media screen and (max-width: 980px) {
    .color-red header li.page_item.current_page_item:hover > .submenu-trigger,
	.color-red header li.menu-item.current-menu-item:hover > .submenu-trigger,
	.color-red header li.menu-item.current-menu-item:hover > .submenu-trigger-container .submenu-trigger { color: #d43b2b;}
}

@media screen and (min-width: 981px) {
    .color-red header li.menu-item.current-menu-ancestor > .submenu-trigger,
	.color-red header li.page_item.current_page_ancestor > .submenu-trigger { color: #d43b2b; }
    .color-red header li.menu-item.current-menu-ancestor > .submenu-trigger,
	.color-red header li.page_item.current_page_ancestor > .submenu-trigger { color: #d43b2b; }
    .no-touch header li.menu-item.mi-depth-0 > .submenu-trigger:hover, 
	.no-touch header li.page_item.pi_depth_0 > .submenu-trigger:hover { border-bottom-color: #d43b2b; }
    .no-touch header li.menu-item.mi-depth-0.menu-item-has-children:hover > .submenu-trigger,
	.no-touch header li.page_item.pi_depth_0.page_item_has_children:hover > .submenu-trigger { border-bottom-color: #d43b2b; }
    .touch header li.menu-item.mi-depth-0.submenu-expanded > .submenu-trigger, 
	.touch header li.page_item.pi_depth_0.submenu-expanded > .submenu-trigger { border-bottom-color: #d43b2b; }
    .no-touch header .top-navi li.menu-item.mi-depth-0.menu-item-has-children > .submenu-trigger:hover, 
	.no-touch header .top-navi li.page_item.pi_depth_0.page_item_has_children > .submenu-trigger:hover { border-bottom-color: #d43b2b; }
    .color-red header .top-navi li.menu-item.mi-depth-0.current-menu-ancestor > .submenu-trigger, 
	.color-red header .top-navi li.page_item.pi_depth_0.current_page_ancestor > .submenu-trigger, 
	.color-red header .top-navi li.menu-item.mi-depth-0.current-menu-item > .submenu-trigger, 
	.color-red header .top-navi li.page_item.pi_depth_0.current_page_item > .submenu-trigger { color: #d43b2b; }
    .color-red .dropdownmenu-default li.menu-item.current-menu-ancestor:hover > .submenu-trigger, 
	.color-red .dropdownmenu-default li.page_item.current_page_ancestor:hover > .submenu-trigger, 
	.color-red .dropdownmenu-default li.menu-item.current-menu-item:hover > .submenu-trigger, 
	.color-red .dropdownmenu-default li.page_item.current_page_item:hover > .submenu-trigger { color: #d43b2b; }
    .color-red .dropdownmenu-mega a.current-url { color: #d43b2b !important; }
    .color-red .dropdownmenu-mega li.menu-item.current-menu-item > a.submenu-trigger, 
	.color-red .dropdownmenu-mega li.menu-item.current-menu-ancestor > a.submenu-trigger, 
	.color-red .dropdownmenu-mega li.menu-item.current-menu-item > .submenu-trigger-container > a.submenu-trigger, 
	.color-red .dropdownmenu-mega li.menu-item.current-menu-ancestor > .submenu-trigger-container > a.submenu-trigger { color: #d43b2b !important; }
    
	.color-red .h1 nav.mainmenu li.menu-item.mi-depth-0 > .submenu-trigger:hover, 
	.color-red .h1 nav.mainmenu li.menu-item.mi-depth-0.menu-item-has-children:hover > .submenu-trigger, 
	.color-red .h1 nav.mainmenu li.page_item.pi_depth_0 > .submenu-trigger:hover, 
	.color-red .h1 nav.mainmenu li.page_item.pi_depth_0.page_item_has_children:hover > .submenu-trigger { color: #d43b2b; }
    .color-red .h1 nav.mainmenu li.menu-item.mi-depth-0.current-menu-ancestor > .submenu-trigger, 
	.color-red .h1 nav.mainmenu li.page_item.pi_depth_0.current_page_ancestor > .submenu-trigger, 
	.color-red .h1 nav.mainmenu li.menu-item.mi-depth-0.current-menu-item > .submenu-trigger, 
	.color-red .h1 nav.mainmenu li.page_item.pi_depth_0.current_page_item > .submenu-trigger { color: #d43b2b; }
    
	.color-red .h2 nav.mainmenu li.menu-item.mi-depth-0 > .submenu-trigger:hover, 
	.color-red .h2 nav.mainmenu li.menu-item.mi-depth-0.menu-item-has-children:hover > .submenu-trigger, 
	.color-red .h2 nav.mainmenu li.page_item.pi_depth_0 > .submenu-trigger:hover, 
	.color-red .h2 nav.mainmenu li.page_item.pi_depth_0.page_item_has_children:hover > .submenu-trigger { color: #d43b2b; }
    .color-red .h2 nav.mainmenu li.menu-item.mi-depth-0.current-menu-ancestor > .submenu-trigger, 
	.color-red .h2 nav.mainmenu li.page_item.pi_depth_0.current_page_ancestor > .submenu-trigger, 
	.color-red .h2 nav.mainmenu li.menu-item.mi-depth-0.current-menu-item > .submenu-trigger, 
	.color-red .h2 nav.mainmenu li.page_item.pi_depth_0.current_page_item > .submenu-trigger { color: #d43b2b; }
	
    .color-red .h1 nav.mainmenu li.mi-depth-0.mi-with-dropdown-arrow:hover > .submenu-trigger span.mi-title {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10px" height="7px"><g><g><polygon fill="%23d43b2b" points="8.433,-0.06 4.985,3.325 1.539,-0.06 -0.066,1.546 4.985,6.566 10.037,1.546"/></g></g></svg>');}
    .color-red .h2 nav.mainmenu li.mi-depth-0.mi-with-dropdown-arrow:hover > .submenu-trigger span.mi-title {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10px" height="7px"><g><g><polygon fill="%23d43b2b" points="8.433,-0.06 4.985,3.325 1.539,-0.06 -0.066,1.546 4.985,6.566 10.037,1.546"/></g></g></svg>');}
}

/*other*/
.color-red footer a {color: #ccc;}
.color-red footer a:hover {color: #fff; text-decoration: underline;}

.color-red .wp-pagenavi .page,
.color-red .wp-pagenavi a {color: #333;}
.color-red .wp-pagenavi .page:hover,
.color-red .wp-pagenavi a:hover {color:#333;}

.color-red .button-more a {color: #444;}
.color-red .button-more a:hover {color: #fff;background-color: #d43b2b; border-color: #d43b2b;}
.color-red a.play,
.color-red a.play:hover {color: #333;}
.color-red a.play.white {color: #fff;}

.color-red .postlist article h2 a:hover {color: #bb2212;}

